*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin-top: 40px;
    background-color: rgba(224, 255, 255, 0.411)
}
/* ----------------
    Header Style 
------------------- */

header{
    width: 87%;
    margin: auto;
}
.cover{
   display: flex;
   justify-content: center;
   background-color: black;
   margin-bottom: 100px;
   padding: 30px 100px 0px 130px;
   border: none;
   border-radius: 15px;
   
}
header h1{
    padding-top: 80px;
    font-size: 4vw;
    color: white;
    width: 70%;
}
header p{
    margin-top: 30px;
    color: white;
    width: 50%;
}
.cover-button{
    border: none;
    border-radius: 5px;
    margin-top: 50px;
    padding: 20px 30px;
    font-size: 25px;
    background-color: #00BFFF;
    color: white;
    transition: transform 1s;
    
}
.cover-button:hover{
    transform: scale(1.1);
    color: navy;
}
.cover-image{
    width: 25vw;
    margin-right: 100px;
}

.cover-image img{
    width:25vw ;
}

/* --------------
    Main Style 
----------------- */
main{
    display: flex;
    justify-content: center;
}
.menu{
    padding: 30px;
    background-color: black;
    width: 300px;
    height: 240px;
    border:none;
    border-radius: 15px;
}

.menu li{
    list-style: none;
    text-align: center;  
    
}
.menu a{
    text-decoration: none;
    font-size: 25px;
    color: black;

}
.menu li a:hover {
    color: red;
}
.upcomming-match{
    margin-bottom: 30px;
    border:none;
    border-radius: 10px;
    padding: 15px 15px;
    background-color: white;
}
.all-group{
    margin-bottom: 30px;
    border: none;
    border-radius: 10px;
    padding: 15px 15px;
    background-color: white;
}
.menu-blog{

    border: none;
    border-radius: 10px;
    padding: 15px 15px;
    background-color:#00BFFF;
    
}
.menu-blog a{
    color: white;
}
/*--------------- 
    Blog style 
----------------- */
.blogs-container{
    margin-left: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    
    
}
.blog{
    border: 1px solid lightgray;
    border-radius: 15px;
    background-color: white;
}
.blog img{
    width: 400px;
}

.blog-button{
    margin-top: 20px;
    margin-left: 20px;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 18px;
    color: black;
    background-color: white;
}
.blog-title{
    margin-top: 20px;
    margin-left: 20px;
    width: 280px;
}
.blog-duration-comment{
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
}
.fa-comment-dots{
    margin-left: 30px;
}

.view-all{
    align-items: center;
    text-align: center;
}
.view-all-button{
    display: none;
    border: none;
    border-radius: 5px;
    margin-top: 50px;
    padding: 20px 30px;
    font-size: 25px;
    background-color:#00BFFF;
    color: white;
}
/*------------------
     Footer Style 
-------------------- */
footer{
    position: relative;
    margin-top: 100px;
    padding: 150px;
    background-color: black;
}
.footer-title{
    color: white;
    text-align: center;
    font-size: 40px;
}
.h-line{
    margin-top: 40px;
    border:1px solid gray;
}
footer ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top:40px;
    
    
}
.footer-list ul {
    flex-wrap: wrap;
    line-height: 50px;


}
footer a{
    text-decoration: none;
    margin-right: 60px;
    color: #00BFFF;
}
.social-icon {
    position: absolute;
    top: 80%;
    left: 45%;
}
.social-icon a{
   
    font-size: 30px;
    color: white;
    margin-right: 20px ;
    

    
}
.fa-facebook{
    color:#29487d

}
.fa-instagram{
    color: #C13584;
}
.fa-google{
    color: #0F9D58;
}
/*-----------------------------------
    Responsive Layout Style For Mobile 
------------------------------------- */
@media only screen and (max-width: 767px) {
    /*---------------------
        Header Responsive 
    ----------------------- */
    header{
        width: 90vw;
    }
    header p {
            text-overflow: ellipsis;
            width: 100px;
            overflow: hidden;
            white-space: nowrap;
    }
    
    header p:hover {
            overflow: visible;
    }
    .cover{
        display: flex;
        flex-direction: column;
        padding: 10%;
        align-items: center;
        margin: auto;

    }
    .cover-title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .cover-button{
        padding: 10px;
        width: 150px;
        font-size: 18px;
    }
    .title{
        width: 100%;
        font-size: 40px;
        margin: 0;
        padding: 0;
        align-items: center;
        text-align: center;
    }
    
    .cover-image{
        display: flex;
        flex-direction: column;
        align-items: center;  
    }
    .cover-image img {
        margin-left: 100px;
        margin-top: 30px;
        width: 60vw;
    }
    .blogs-container {
    grid-template-columns: repeat(1, 1fr);

    }
    
    /*--------------------
         Menu Responsive 
    ---------------------- */

    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        
    }
    .menu{
        background-color: white;
        

    }
    .menu ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .menu li{
        border: 1px solid lightgray;
    }
    .all-group{
        width: 60%;
    }
    .menu-blog{
        width: 60%;
    }
    /*-------------------------------
        Blogs Container Responsive 
    --------------------------------- */
    .blogs-container{
        margin: 0;
    }
    /* -----------------
        View All Button 
    -------------------- */
    .view-all{
        display: none;
    }

    /*--------------------
        Footer Responsive 
    ---------------------- */
    footer{
        padding: 30px 150px 150px 150px;
        

    }
    .footer-list  ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px; 
    }
    .footer-list li{
        margin-top: 25px;
        
    }
    .footer-list a{
        height: 10px;
        padding:0;
        margin: 0;
    }
    .social-icon{
        display: flex;
        flex-direction: column;
        justify-content:left;
    }
    
}


/* ---------------------------------
    Responsive Layout Style for Tablet 
------------------------------------ */
@media only screen and (min-width:778px) and (max-width:1023px){
    header {
            width: 90vw;
            align-items: center;
        }
    .title{
        font-size: 5vw;
        width: 80%;
        padding: 0;
    }
    .tag{
        width: 100%;
    }
    .cover{
        padding: 30px 50px 0px 50px;
    }
    .cover-image img{
        width:30vw;
       
    }
        .cover-button{
            font-size: 1.15em;
            padding: .75em 1.5em
        }
    
    /*---------------------
         Main Responsive
    ----------------------- */
    main{
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        
    }
    .menu{
        align-items: center;
        width: 100vw;
        height: auto;
        background-color: white;
        padding: 0;
        margin-bottom: 30px;
    }
    .menu ul{
        display: flex;
        justify-content:center;
        align-items: center;   
    }
    .menu li{
        width: 28%;
        border: 1px solid lightgray;
        margin: 0 10px;
        padding:15px 0;
    }
    .menu a{
        text-align: center;
    }
    .menu-blog a{
        padding: 0;
    }
    .view-all-button{
        display: block;
        margin: auto;
    }

    /* ---------------------------------
        Blog Container Responsive Style 
    ------------------------------------- */
    .blogs-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap:90px;
        justify-items: center;
        margin: auto;
        
        
    }
    
    .footer-list ul{
        flex-wrap: wrap;
        line-height: 50px;
        

    }
}
