* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin-top: 40px;
}

/* ----------------
    Header Style 
------------------- */

header {
    width: 87%;
    margin: auto;
}

.cover {
    display: flex;
    justify-content: center;
    background-color: black;
    margin-bottom: 100px;
    padding: 30px 100px 0px 130px;
    border: none;
    border-radius: 15px;

}

header h1 {
    padding-top: 80px;
    font-size: 90px;
    color: white;
    width: 70%;
}

header p {
    margin-top: 30px;
    color: white;
    width: 50%;
}

.cover-button {
    border: none;
    border-radius: 5px;
    margin-top: 50px;
    padding: 20px 30px;
    font-size: 25px;
    background-color: red;
    color: white;

}

.cover-image {
    width: 30%;
    margin-right: 100px;
}

.cover-image img {
    width: 500px;
}

/* --------------
    Main Style 
----------------- */
main {
    display: flex;
    justify-content: center;
}

.menu {
    padding: 30px;
    background-color: black;
    width: 300px;
    height: 240px;
    border: none;
    border-radius: 15px;
}

.menu li {
    list-style: none;
    text-align: center;

}

.menu a {
    text-decoration: none;
    font-size: 25px;
    color: black;

}

.upcomming-match {
    margin-bottom: 30px;
    border: none;
    border-radius: 10px;
    padding: 15px 15px;
    background-color: red;
}
.upcomming-match a{
    color: white;
}

.all-group {
    margin-bottom: 30px;
    border: none;
    border-radius: 10px;
    padding: 15px 15px;
    background-color: white;
}

.menu-blog {

    border: none;
    border-radius: 10px;
    padding: 15px 15px;
    background-color:white;

}

/* ----------------------------
    Upcomming Match Style 
------------------------------- */
.upcomming-match-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    margin-left: 30px;
}
.match-box{
    
    padding: 50px 30px;
    border: 1px solid lightgray;
    border-radius: 15px;
    
}
.match-box h3, p{
    text-align: center;
}
.match-box img{
    width: 130px;
}
.match{
    display: flex;
    align-items: center;
}
.flag-left{
    padding: 15px;
}
.flag-right{
    padding: 15px;
}
/*------------------
     Footer Style 
-------------------- */
footer {
    margin-top: 100px;
    padding: 150px;
    background-color: black;
}

.footer-title {
    color: white;
    text-align: center;
    font-size: 40px;
}

.h-line {
    margin-top: 40px;
    border: 1px solid gray;
}

footer ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 40px;

}

footer a {
    text-decoration: none;
    margin-right: 60px;
    color: lightgray;
}